/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007BFF;
    --secondary-color: #FFC107;
    --neutral-light: #F4F4F4;
    --neutral-dark: #333333;
}

/* Estilos globais */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--neutral-light);
    color: var(--neutral-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container de login */
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 2em;
}

.login-container label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: var(--neutral-dark);
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--neutral-light);
}

/* Botão de login */
.btn {
    display: inline-block;
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Link de cadastro */
.login-container p {
    margin-top: 20px;
}

.login-container a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.login-container a:hover {
    color: var(--secondary-color);
}
