/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis de cores */
:root {
    --primary-color: #007BFF;
    --secondary-color: #FFC107;
    --neutral-light: #F4F4F4;
    --neutral-dark: #333333;
}

/* Estilos globais */
body {
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--neutral-dark);
    background-color: var(--neutral-light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho e navegação */
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}
/* Estilo para o botão de sair */
.btn-logout {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logout:hover {
    background-color: #c82333;
}

/* Estilo do painel de informações */
.info-painel {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.info-painel h2 {
    font-size: 1.8em;
    color: #007BFF;
    margin-bottom: 10px;
}

.info-painel p {
    font-size: 1.2em;
    color: #555;
}


header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

#saudacao-usuario {
    font-size: 1.1em;
    margin: 5px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 5px 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* Conteúdo principal */
main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagem-sem-turma {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}

/* Estilo do card de turma */
.turma {
    width: 90%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.turma h2 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.turma ul {
    list-style-type: disc;
    padding-left: 20px;
}

.turma li {
    margin-bottom: 5px;
}

.mensagem-sem-tarefa {
    color: #666;
    font-size: 0.95em;
    text-align: center;
}

/* Rodapé */
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

footer p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .turma {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}
